.main{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 2px 2px gainsboro;
    height: 1650px;

}
.img1 img{
    margin-top: 20px;
    margin-left: 20px;
}
.icon{
    display: flex;
    gap: 5px;
    margin-top: 75px;
}
.container{
    background-color:white;
    display: flex;
    gap: 600px;
    
}
.main1{
    width: 96.7%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #093d63;
    color: white;
    height: 40px;
    width: 100%;
    gap: 15px;
    list-style:  none;
    
}
a{
    text-decoration: none;
    color: white;

}
.main1 ul li:hover{
    background-color:  #21759b;
    padding: 5px;

}
.main2 p{
    font-size: xx-large;
    margin-left: 30px;
}
.div1 p{
    margin-left: 30px;
    font-size: 17px;
    margin-top: -15px;
    margin-bottom: 25px;
}
.div2 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div3 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div4 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div5 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div6 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div7 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div8 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div9 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.div10 p{
    margin-left: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}
.about1{
    height: 120px;
    width: 100%;
    border: 1px solid gainsboro;
    background-color: #35425d;
    margin-top: 6%;

}
.about11{
    margin-left: 20px;
    padding: 20px;
}
.about111{
    margin-left: 20px;
    padding: 20px;
    color: white;
}